<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJs - Aula 06</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <div ng-controller="HomeController" class="container">
        <h3>Sua lista tem {{products.length}} itens</h3>
        <input type="text" ng-model="filtro">
        <select ng-model="ordem">
            <option value="title">Título</option>
            <option value="category">Categoria</option>
        </select>
        <ul>
            <li ng-repeat="prd in products | filter: filtro | orderBy: ordem">
                {{prd.title}} - {{prd.category}}
                <br>
                <button class="btn btn-danger" aria-label="Left Align" ng-click="remover()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp Excluir</button>
            </li>
        </ul>

        <hr>

        <label>Produto</label><br>
        <input type="text" class="form-control" ng-model="product.title">
        <br>
        <label>Categoria</label>
        <br>
        <input type="text" class="form-control" ng-model="product.category">
        <br>
        <button  class="btn btn-primary" aria-label="Left Align" ng-click="adicionar()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp Adicionar</button>
    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    
    <script>

        //Aqui estamos criando um módulo:
        angular.module('app', []); 
        var app = angular.module('app');

        app.controller('HomeController', function($scope) {
            
            $scope.product = {
                title: '',
                category: ''
            };

            //Lista de Produtos:
            $scope.products = [
                { title: "Notebook", category: "Informática" },
                { title: "Monitor", category: "Informática" },
                { title: "Mouse Sem Fio", category: "Informática" },
                { title: "Calculadora", category: "Financeiro" },
                { title: "Mouse", category: "Informática" },
                { title: "Cadeira", category: "Administração" },
                { title: "Telefone", category: "Tesouraria" }
            ];

            
            $scope.adicionar = function() {
                Adicionar();
            };

            $scope.remover = function () {
                Remover();
            };

            //Método responsável por Adicionar um novo Produto & Categoria:
            function Adicionar() {
                $scope.products.push($scope.product);
            }

            //Método responsável por Remover um Produto & Categoria:
            function Remover(prd) {
                var index = $scope.products.indexOf(prd);
                $scope.products.splice(index, 1);
            }

            console.log($scope.products);
        });
    </script>
</body>
</html>