<!DOCTYPE html>
<html ng-app="app">

<head lang="pt-br">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div ng-controller="HomeCtrl">
        <h3>Nome: <input type="text" ng-model="user.name"></h3>
        <h3>Idade: {{user.age}}</h3>
        <h3>Cidade: {{user.address.city}}
        <h3>Estado: {{user.address.state}}</h3>
        <h3>Assinante: <input type="checkbox" ng-model="user.subscriber"></h3>
    </div>

    <script src="../bower_components/angular/angular.min.js"></script>

    <script>
        //Criando módulo:
        angular.module('app', []);
        var app = angular.module('app');

        app.controller('HomeCtrl', function ($scope) {
            $scope.user = {
                name: "Glaucia Lemos",
                age: 31,
                address: {
                    city: "Rio de Janeiro",
                    state: "RJ"
                }, 
                subscriber: false
            };

            console.log($scope.user);
        });
    </script>
</body>

</html>