<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJs - Aula 07</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../bower_components/toastr/toastr.min.css">
</head>

<body>

    <div ng-controller="HomeController" class="container">
        <button ng-click="alertarInfo()" class="btn btn-primary">Click Aqui!!</button>
        <button ng-click="alertarSuccess()" class="btn btn-success">Click Aqui!!</button>
        <button ng-click="alertarWarning()" class="btn btn-warning">Click Aqui!!</button>
        <button ng-click="alertarError()" class="btn btn-danger">Click Aqui!!</button>
    </div>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/toastr/toastr.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>

    <script>

        //Aqui estamos criando um módulo:
        angular.module('app', []);
        var app = angular.module('app');

        app.controller('HomeController', function ($scope) {
            $scope.alertarInfo = function () {
                toastr.info('Testando o ng-click!!!', 'Informação');
            },

                $scope.alertarSuccess = function () {
                    toastr.success('Testando o ng-click!!!', 'Informação');
                },

                $scope.alertarWarning = function () {
                    toastr.warning('Testando o ng-click!!!', 'Informação');
                },

                $scope.alertarError = function () {
                    toastr.error('Testando o ng-click!!!', 'Informação');
                }
        });
    </script>
</body>

</html>